<?xml version="1.0" encoding="UTF-8"?>
<!-- This is the test version of the config file.  It is set to minimize the output to the console and maximize
     it in the logs.  If you intend to change log4j settings for the tool, use the instance of this file in
     main/resources instead. -->

<Configuration status="warn">

    <Properties>
        <Property name="logfile.name">${env:DTEST_HOME}/log/dtest.log</Property>
    </Properties>

    <Appenders>
        <Console name="STDERR" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{DEFAULT} %5p [%t] %c{1}: %m%n"/>
        </Console>
        <File name="File" fileName="${logfile.name}">
            <PatternLayout pattern="%d{DEFAULT} %5p [%t] %c{1}: %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDERR" level="warn"/>
            <AppenderRef ref="File" level="debug"/>
        </Root>
    </Loggers>

</Configuration>