<?xml version="1.0" encoding="UTF-8"?>
<!-- This is the production instance of this file, set to have moderate output to both the screen and the logs.
     If you want to change log4j output in the tests modify the version of this file in test/resources instead. -->
<Configuration status="warn">

    <Properties>
        <Property name="logfile.name">${env:DTEST_HOME}/log/dtest.log</Property>
    </Properties>

    <Appenders>
        <Console name="STDERR" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{DEFAULT} %5p [%t] %c{1}: %m%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${logfile.name}" filePattern="${logfile.name}.%d{yyyyMMdd-hhmm}">
            <PatternLayout pattern="%d{DEFAULT} %5p [%t] %c{1}: %m%n"/>
            <Policies>
                <OnStartupTriggeringPolicy minSize="0"/>
            </Policies>
            <DefaultRolloverStrategy max="99"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDERR" level="warn"/>
            <AppenderRef ref="RollingFile" level="debug"/>
        </Root>
    </Loggers>

</Configuration>